body {
    padding: 20px;
    padding-bottom: 50px;
}
header {
    text-align: center;
}
.page-logo {
    width: 120px;
    display: inline-block;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: bold;
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin: 40px 0 10px 0;
}
h3 {
    font-size: 18px;
    text-align: left;
    margin: 20px 0 10px 0;
}

.grid-2,
.grid-3,
.grid-4 {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 5px 30px;
}

.grid-2 {
    grid-template-columns: 1fr;
}
.grid-3 {
    grid-template-columns: 1fr;
}
.grid-4 {
    grid-template-columns: 1fr;
}

/* @media only screen and (max-width: 1200px) {
    .grid-4 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-3 {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 720px) {
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
    }
} */
