html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 30px 0;
}

input,
select {
    vertical-align: middle;
}

body,
html {
    background-color: white;
    color: black;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

p {
    color: black;
    margin: 0;
}

input,
button {
    font-family: inherit;
}

a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    font-size: 16px;
    &:hover,
    &:focus {
        color: blue;
        text-decoration: underline;
    }
    &.disabled {
        color: gray;
        cursor: auto;
        pointer-events: none;
    }
}

ol,
ul {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
    margin-top: 0;
}

hr {
    margin: 30px 0;
    border-top-color: gray;
}

form label {
    font-weight: bold;
}

*,
*:before,
F *:after {
    box-sizing: border-box;
}

input,
textarea {
    font-family: inherit;
}

body {
    overflow: hidden;
}

h1 {
    margin: 10px 0;
}
